name: Publish to PyPI

permissions:
  actions: write

on:
  workflow_run:
    workflows: [Python Tests]
    types:
    - completed
    branches:
    - main

jobs:
  pypi-release:
    name: PyPI Release
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: ${{ github.event_name == 'pull_request' && 2 || 0 }}
    
    - uses: actions/setup-python@v6
      with:
        python-version-file: pyproject.toml
    
    - name: Install uv
      uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e
      with:
        enable-cache: true

    - name: Skip if version did not change
      run: |
        version_change=$(git diff -r HEAD^1 pyproject.toml | grep -E "^(\+|-)version =")
        if [[ -z "$version_change" ]]; then
          gh run cancel ${{ github.run_id }}
          gh run watch ${{ github.run_id }}
        fi
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and publish package
      run: |
        uv build
        uv publish --token ${{ secrets.PYPI_API_TOKEN }}